<div>
    <div class="jumbotron text-center w-75 m-auto p-0">
        <h1 class="display-3">Welcome to Eat Da Burger Joint</h1>
        <p class="lead">Craft your Own burger or Devour one of our Signature burgers</p>
        <hr class="my-2">
        <p class="lead p-3">
            <a class="btn btn-primary btn-lg m-2" href="/create" role="button">Craft your own Burger</a>
        </p>

    </div>

    <div class="w-75 m-auto">
        <div class="row justify-content-center">
            <div class="col-5">
                <div id="availBurgers" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#each avail_burgers}}
                        <div class="carousel-item {{#unless @index}}active{{/unless}}">
                            <img class="d-block w-100" src="{{picurl}}" alt="{{burger_name}}">
                            <div class="text-center bg-light p-2">
                                <h4>{{burger_name}}</h4>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#availBurgers" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#availBurgers" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="container my-5">
                    {{#each avail_burgers}}
                    <div class="card text-center my-2 p-auto bg-light" style="width: 100%">
                        <div class="card-body">
                            <h5 class="card-title">{{burger_name}}</h5>
                            <button type="button" data-id={{id}} data-devoured={{devoured}} class="btn btn-dark">Devour</button>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
            <div class="col-5">
                <div id="devouredBurger" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#each consumed_burgers}}
                        <div class="carousel-item {{#unless @index}}active{{/unless}}">
                            <img class="d-block w-100" src="{{picurl}}" alt="{{burger_name}}">
                            <div class="text-center bg-light p-2">
                                <h4>{{burger_name}}</h4>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#devouredBurger" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#devouredBurger" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="container my-5">
                    {{#each consumed_burgers}}
                    <div class="card text-center my-2 p-auto bg-light" style="width: 100%">
                        <div class="card-body">
                            <h5 class="card-title">{{burger_name}}</h5>
                            <button type="button" data-id={{id}} data-devoured={{devoured}} class="btn btn-dark">Devour</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center p-5">
        <a href="/api/burgers" class="badge badge-dark">API</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="/assets/js/frontEnd.js"></script>